# Temp files
.DS_Store
*~
buck-out/

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# ignore the jupyter checkpoints
.ipynb_checkpoints/

# ignore large datasets (accidentally in root dir):
/DEGs.csv
/human_cytokine_dict.csv
/lupus.h5ad
/MS_CSF.h5ad

# ignore large datasets (created during tutorial runs)
/docs/notebooks/MS_CSF.h5ad
/docs/notebooks/Tutorial_huCIRA_MultipleSklerosis_hcd_working.ipynb
/docs/notebooks/human_cytokine_dict.csv
